:root {
  --max-width-card-mobile: 20.4375rem;
  --min-width-card: 13.3125rem;
  --max-width-card: 15.625rem;

  /*Colors: */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  /*Text presets*/
  --text-font-size-1: 2.5rem;
  --text-font-weight-1: 700;
  --text-line-height-1: 120%;
  --text-letter-spacing-1: 0px;

  --text-font-size-2: 1.5rem;
  --text-font-weight-2: 700;
  --text-line-height-2: 125%;
  --text-letter-spacing-2: 0px;

  --text-font-size-3: 1rem;
  --text-font-weight-3: 600;
  --text-line-height-3: 150%;
  --text-letter-spacing-3: 0px;

  --text-font-size-4: 0.875rem;
  --text-font-weight-4: 400;
  --text-line-height-4: 150%;
  --text-letter-spacing-4: 0px;

  --text-font-size-4-bold: 0.875rem;
  --text-font-weight-4-bold: 600;
  --text-line-height-4-bold: 150%;
  --text-letter-spacing-4-bold: 0px;

  /*Spacing*/
  --space-1100: 5.5rem;
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-red-hat-sans);
  background-color: var(--color-rose-50);
  padding: var(--space-300);
}

/* Tablet 2 column layout: */
/* 2 * tablet-padding + 2 * min-width-card + 1 * column-gap */
/* 2 * 40px + 2 * 213px + 1 * 24px = 530px*/
@media (min-width: 33.125rem) {
  body {
    padding: var(--space-500);
  }
}

/* Tablet 3 column layout: */
/* 2 * tablet-padding + 3 * min-width-card + 2 * column-gap */
/* 2 * 40px + 3 * 213px + 2 * 24px = 530px*/
@media (min-width: calc(48rem - 1px)) {
  /*No change*/
}

/* Desktop 3 column layout: */
/* 2 * desktop-padding + 3 * min-width-card + 2 * column-gap */
/* 2 * 40px + 3 * 250px + 2 * 24px = 530px*/
@media (min-width: 54.875rem) {
  body {
    padding: var(--space-1100) var(--space-500);
  }
}
