.title {
  font-family: var(--font-red-hat-sans);
  font-size: var(--text-font-size-1);
  font-weight: var(--text-font-weight-1);
  line-height: var(--text-line-height-1);
  letter-spacing: var(--text-letter-spacing-1);
  margin-bottom: var(--space-400);
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-300);
}
