.title {
  font-family: var(--font-red-hat-sans);
  font-size: var(--text-font-size-1);
  font-weight: var(--text-font-weight-1);
  line-height: var(--text-line-height-1);
  letter-spacing: var(--text-letter-spacing-1);
  margin-bottom: var(--space-400);
}

.list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-300);
}

/* Tablet 2 column layout: */
/* 2 * tablet-padding + 2 * min-width-card + 1 * column-gap */
/* 2 * 40px + 2 * 213px + 1 * 24px = 530px*/
@media (min-width: 33.125rem) {
  .list {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-300);
    row-gap: var(--space-400);
  }
}

/* Tablet 3 column layout: */
/* 2 * tablet-padding + 3 * min-width-card + 2 * column-gap */
/* 2 * 40px + 3 * 213px + 2 * 24px = 530px*/
@media (min-width: calc(48rem - 1px)) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-300);
    row-gap: var(--space-400);
  }
}

/* Desktop 3 column layout: */
/* 2 * desktop-padding + 3 * min-width-card + 2 * column-gap */
/* 2 * 40px + 3 * 250px + 2 * 24px = 530px*/
@media (min-width: 54.875rem) {
  /*No change*/
}
