.removeAll {
  appearance: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-rose-400);
}

.icon:active {
  color: var(--color-rose-900);
}

@media (hover: hover) and (pointer: fine) {
  .icon:hover {
    color: var(--color-rose-900);
  }
}
